<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Inscrivez vous ici</h2>
        <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nomUtilisateur">Nom Utilisateur</label>
                <input type="text" id="nomUtilisateur" class="form-control" formControlName="nomUtilisateur">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="passWord">Mot de passe</label>
                <input type="password" id="passWord" class="form-control" formControlName="passWord">
            </div>
            <div>
                <button class="btn btn-success" type="submit" [disabled]="inscriptionForm.invalid">Créer mon compte</button>
                <button type="reset" (click)="onBackToAnnonces()" class="btn btn-danger" style="float: right;">Annuler</button>
            </div>
            <p class="text-danger">{{errorMessage}}</p>
        </form>
    </div>
</div>
